# Maintained by the MongoDB APIx-Integrations team
* @terraform-mongodbatlas-modules/APIx-Integrations

# Documentation - Cloud Docs team
.changelog/ @terraform-mongodbatlas-modules/Cloud_Docs
/README.md @terraform-mongodbatlas-modules/Cloud_Docs
docs/*.md @terraform-mongodbatlas-modules/Cloud_Docs
